.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px) {
            display: block ;
        }

        .button {
            margin-top: 24px;
        }

        &__item {
            text-align: center;
            padding: 60 px 44px 44px;
    
            strong {
                display: block;
            }
        }

    }

    p {
        text-align: center;
    }
}